body {
  margin: 0px !important;
}
/* 
.container {
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 3em;
  margin-bottom: 35px;
}

p.lead {
  font-size: 1em;
  line-height: 28px;
  max-width: 90vw;
}

a {
  color: var(--black);
}

form {
  display: block;
  width: 100%;
}

label {
  color: white;
}

input,
textarea {
  border: 2px solid transparent;
  box-sizing: border-box;
  display: block;
  font-size: 1.25em;
  margin: 5px 0 25px 0;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

input.invalid,
textarea.invalid {
  border: 2px solid var(--red);
}

textarea {
  resize: none;
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  h2 {
    font-size: 4em;
  }

  input,
  textarea {
    width: 85%;
  }
}

@media screen and (min-width: 700px) {
  input,
  textarea {
    font-size: 2.5em;
    padding: 15px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    font-size: 5em;
  }

  p.lead {
    font-size: 1.5em;
    line-height: 32px;
    max-width: 60vw;
  }
} */
