.WorkCard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #eee;
  height: 265px;
  text-decoration: none;
}

.WorkCard .content {
  background: rgba(51, 51, 51, 0.9);
  box-sizing: border-box;
  color: white;
  height: 100%;
  opacity: 0;
  padding: 5% 6%;
  transition: 0.3s opacity;
}

.WorkCard a {
  color: var(--primary);
  display: inline-block;
}

.WorkCard:hover .content,
.WorkCard:focus .content {
  opacity: 1;
  transition: 0.3s opacity;
}
